.main_container {
    width: 100%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.main_container .container {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}

.main_container .row {
    text-align: center !important;
    margin: 2rem auto;
    min-height: 5rem;
}

.new_book_form {
    margin: 2rem !important;
}

.new_book_form .row {
    margin-bottom: 0;
}

.new_book_form .row .col-8 {
    padding-bottom: 1rem;
}

.new_book_form .col-form-label {
    color: var(--pastel-purple) !important;

}