.main_members {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.main_members .table-responsive {
    width: 100vw;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}


.main_members .table-responsive {
    max-width: 100%;

}

.main_members .row {
    text-align: center !important;
    margin: 2rem auto;
    min-height: 5rem;
}