{% extends 'base.html' %}
{% block base_head %}
<title>Pay Fees - Librasic</title>
<link href="{{url_for('static', filename='css/fees-payment.css')}}" rel="stylesheet">
{% endblock base_head %}
{% block main_body %}
<div class="container">
    <form action="/pay-fees" class="fees_payment_form" method="post">
        <div class="mb-3 row">
            <label for="memberId" class="col-4 col-form-label">Member ID</label>
            <div class="col-8">
                <input type="text" class="form-control" name="memberId" id="memberId" placeholder="Member ID"
                    required />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="paymentAmount" class="col-4 col-form-label">Payment Amount</label>
            <div class="col-8">
                <input type="text" class="form-control" name="paymentAmount" id="paymentAmount"
                    placeholder="Payment Amount" required />
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary">
                    Paid
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock main_body %}